/*** Elements principaux de la page ***/

body {

    /* mettre un font-family*/
    background : white;
    margin:0;
    padding:0;
}

ul {
    margin:0;
    padding:0;
} 

li {
    list-style-type:none;

}

h1 {
    text-transform:uppercase;
    text-align:center;
    font-size: 2em;
}

h4, nav a {
    text-transform:uppercase;
}

a {
    text-decoration: none;
    color: white;
}


/* #main-wrapper{
    height : 100vh;
    
} */

/************* header ************/


/*** NAVBAR ***/

#logo img{
    width: 90px;
    height:90px; 
    overflow : hidden;
    position : fixed;
    opacity: 0.8;
    z-index : 1;

} 

nav {
    overflow : hidden;
    background: black;
    position : fixed;
    width: 100%;
    height: 100px;
    opacity: 0.9;
}

header li {
    float: right;
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}



nav a:hover, nav a:active {
    color:rgb(214, 214, 214);    
}


/* ****** Image Principale ****** */

#background_image {
    padding-top: 60px;
    background: url(BG/bg-2.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 700px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    color:rgb(196, 196, 196);
    font-size: 6em;
    margin-top: 250px;
    text-shadow: 1px 3px 2px Black;
}

h3 {
    text-align: center;
    color:rgb(223, 222, 222);
    font-size:3em;
    text-shadow: 1.5px 3px 2px Black;
    /* padding-bottom: 100px; */
}


/*** main ***/

/* ************** PORTFOLIO *********** */

h4 {
    text-align: center;
    color:black;
    font-size:3em;
    /* padding-bottom: 100px; */
}

.text-intro {
    padding : 0px 20%;
    text-align: center;
}

#portfolio{
    background-color:whitesmoke;
    padding: 5px 0px 100px 0;
}



#list-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}

.getingame h4 {
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    margin: 15px;
    font-weight: bold;
}

/* ************** PROJETS *********** */

#project{
    background-color:rgb(223, 222, 222);
    padding: 5px 0px 100px 0;
}

#list-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}

.block-project h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    margin: 15px;
    font-weight: bold;
    color:black;
}


.block-project {
    display: flex;
    border: 1px solid;
    border-radius: 10px 10pc 10pc 10pc;
    border-color: black;
    background-color :white;
    box-shadow: 1px;
    margin: 5px 5px 5px 5px;
}
/* ************** HOBBIES *********** */

#hobbies{
    background-color:white;
    padding: 5px 0px 100px 0;

}

#list-hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}

.block-hobbies h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 1em;
    margin: 15px;
    font-weight: bold;
    color:black;
}

.block-hobbies {
    display: flex;
    border: 1px solid;
    border-radius: 10px 10pc 10pc 10pc;
    border-color: black;
    background-color :silver;
    box-shadow: 1px;
    margin: 5px 5px 5px 5px;

}

/*** footer ***/

footer{
    display: flex;
    background-color: black;
    color : white;
    /* padding: 5px 5px; */
    /* justify-content:space-around; */
    align-items:center;
}

/* #socialMedia {
    margin-bottom: 20px;
    text-align: left;
}

#mention {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
} */

#copyright {
    width: 80%;
    text-align: left;
}