/*** Elements principaux de la page ***/

body {

    /* mettre un font-family*/
    background : black;
    margin:0;
    padding:0;
}

ul {
    margin:0;
    padding:0;
} 

li {
    list-style-type:none;

}

h1 {
    text-transform:uppercase;
    text-align:center;
    font-size: 2em;
}

h4, nav a {
    text-transform:uppercase;
}

a {
    text-decoration: none;
    color: white;
}


/* #main-wrapper{
    height : 100vh;
    
} */

/************* header ************/


/*** NAVBAR ***/

nav #logo img{
    width: 100%;
    width: 90px;
    height:90px; 
    float: left;
} 

nav {
    overflow : hidden;
    background: black;
    position : fixed;
    width: 100%;
    opacity: 0.9;
}

header li {
    float: right;
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}



nav a:hover, nav a:active {
    color:silver;    
}

/*** main ***/

#container{
    background-color : white;
    padding: 0 15%;
    overflow : hidden;
}


.top-content{
    text-align: center;
    align-items: center;
}

.portfolio{
    align-items: center;
}


.project{
    padding-top: 20px;
    list-style-type : none;
    text-align: center;
    align-items: center;
}
.project ul {
    list-style-type : none;
    display: flex; 
    align-items: center;
}

.hobbies{ 
    padding-top : 20px;
    list-style-type : none;
    text-align: center;
    align-items: center;
}
.hobbies ul {
    list-style-type : none;
    display: flex; 
    align-items: center;
}


/*** footer ***/

footer{
    display: flex;
    color : white;
    padding: 0 15%;
    justify-content:space-around;
    align-items:center;
}
