/*** Elements principaux de la page ***/

body{
    background-color : black;
    margin:auto;
}

#main-wrapper{
    height : 100vh;
    width : 100%;
}

section h1, footer h4, nav a {
    text-transform:uppercase;
}

/*** header ***/

header{
    display : flex;
    padding: 0 15% 0 15%;
    justify-content: center;
}

/*** navigation ***/

nav img{
    width: 90px;
    height:90px; 
    align-items: baseline;
}

nav ul {
    list-style-type : none;
    display: flex; 
    align-items: center; 
}

nav li {
    margin-right: 15%;
   
}

nav a {
    color : white;
    text-decoration: none;
}

nav a:hover, nav a:active {
    color:silver;    
}

/*** main ***/

#container{
    background-color : white;
    padding: 0 15% 0 15%;
    overflow : hidden;
}

/*** footer ***/

footer{
    display: flex;
    color : white;
    padding: 0 15% 0 15%;
    justify-content:space-between;
    align-items:stretch;
}
